img {display: block;margin:0 auto;}
 
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
h5 {
   color:white !important;
   vertical-align:middle !important;
}
img {display: block;margin:0 auto;}

#topBgImg{
	width : 100%;
	height: auto;
}
#searchMenuContainer { 
	background-image:url('../img/searchNav.png');
	width:auto;
	height:auto;
	text-align:center;
	height:50px;
} 

#nameSearch{
	
	background-image: url("../img/searchLeftBtn.png");
	background-position: left center;
	background-repeat: no-repeat;
	width: 100%;
	padding-left: 78px !important;
	border-radius: 0px !important;
}
.clearBtn{
	background-image: url("../img/clearBtn.png");
	background-position: right center;
	background-repeat: no-repeat;
	width: 100%;
	border-radius: 0px !important;
}
#codeSearch{
	width:100%;
	padding-right:0 !important;
	border-radius: 0 !important;
}
.form-control{
	padding:0px !important;
	padding-left:0 !important;
	padding-right:0 !important;
}
#searchLeftBtn, #plusResult{
	width:auto !important;
	cursor:pointer;
}
#searchLeftImg, #plusResultImg{
	height: auto;
}
#searchRightBtnBorder{
	width:auto !important;
}
#searchRightImgBorder, #searchRightImg{
	height: 100%;
}
#searchRightBtn{
	background-image:url('img/searchRightBtn.png');
	background-repeat:x;
	height: auto;
}
.searchCategoryActive{
	background-image:url('../img/selectedSearchCategory.png');
	background-repeat:x;
	height: auto;
}
.searchCategoryPasive{
	background-image:url("../img/searchNav.png");
	background-repeat:x;	
	border-left:1px solid #000;
	border-right:1px solid #000;
	height: auto;
	cursor:pointer;
}
.searchFormVisible{
	display:block;
}
.searchFormHiden{
	display:none;
}
.col-xs-4,  .col-md-4{
   display: inline-block;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}
#resultContainer{
	border: 1px solid #CCCCCC;
}
#resultName{
	text-align:left;
	vertical-align:middle !important;
    display: table-cell !important;
	display: inline-block;
}
#subResultContainer{
	background-image:url('../img/detailsResult.png');
	background-repeat:x;
	height:auto;
	display:none;
}
#resultNoAndArrow{
	left: 0px; 
	 top: 0px; 
	 height:auto;
}
#resultNoAndArrowImg{
	width : 100%;
	height: auto;
}
span{
  display: inline-block;
  vertical-align: middle;
}
#bottom1{
	background-image:url('../img/bottom1.png');
	background-repeat:x;
	height:auto;
}
#bottom1Img{
	width : auto;
}
#bottom2{
	background-image:url('../img/bottom2.png');
	background-repeat:x;
	height:auto;
}

#plusButton, #playButton{
	background:none;
}

#subResultName,#subsubUrb,#subpostCode{
	/*border-bottom:1px solid #cfc5a1;*/
}
.border_top_profile_details{
	border-top:1px solid #cfc5a1;
}
.glob_no_line{
	line-height: 50px  !important;
}
div.pointer, img.pointer{
	cursor:pointer;
}
div.padding_left_none{
	padding-left: 0px;
}
div.padding_left_10{
	padding-left: 10px;
}
div.padding_left_20{
	padding-left: 20px;
}
div.padding_left_30{
	padding-left: 30px;
}
div.padding_left_28, input.padding_left_28{
	padding-left:28px !important;
}
div.padding_left_40{
	padding-left:40px;
}
div.padding_right_10{
	padding-right: 10px;
}
div.padding_right_40{
	padding-right: 40px;
}
div.padding_top_10{
	padding-top: 10px;
}
div.padding_bottom_10{
	padding-bottom: 10px;
}
div.padding_bottom_20{
	padding-bottom: 20px;
}
div.margin_top_10{		
			margin-top: 10px;
}
div.margin_top_20{		
			margin-top: 20px;
}
div.margin_bottom_10{
	margin-bottom: 10px;
}
div.margin-left_10{
	margin-left: 10px;
}
div.margin-right_30{
	margin-right: 80px;
}
div.move-rigth{
    display: block;
    float: right;
}
div.color_white, span.color_white{
	color:white !important;
}
div.color_black, span.color_black{
	color:black !important;
}
div.color_blue{
	color:#0088d2;
}
div.font_bold, span.font_bold{
	font-weight:bold;
}

button.full-width{
	border: 0 none;
	border-radius: 0 0 0 0;
	display: block;
	height: 50px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 50px;
	color: #ffffff;
	background-image:url('img/searchRightBtn.png');
	background-repeat:x;
}

@gridGutterWidth: 0px;
.row{
	margin: 0;
}

@media (max-width: 979px) and (min-width: 768px) {

	.glob_no_line
	{
		line-height: 50px !important;
	}
}
@media (max-width: 768px)  {
	body{font-size:10px !important;}
	#logoImg{
		width:60%;
	}
	
}
@media (max-width: 600px)  {
	body{font-size:8px;}	

}
@media (max-width: 520px)  {
	body{font-size:6px;}	

	div.search_number
	{
		display:none;
		width:0px !important;
	}

}


#imageTitle
{
	position: relative;
}
#companyTitle
{
	position: absolute; 
   top: 5px; 
   left: 0; 
   width: 100%; 
}
#closePopup
{
	position: absolute; 
   top: 0px; 
   right: 0; 
   padding:0px !important;
background:transparent !important;
}
#inCloseBtn{
	width:100%;
}
.profileBody{
	background-image:url('../img/ProfileBodyBackBlue.png');
	background-repeat:x; 
	color:blue;
}
.upstreamEntities{
	border-radius:3px; 
	background-image:url('../img/profileBody1.png');
	background-repeat:repeat; 
	background-position:left;
}
.upstreamEntitiesContent{
	border-radius: 3px; 
	height:auto;
	line-height: 18px; 
	background-image:url('../img/profile_red_small.png');
	background-repeat:no-repeat; 
	background-position:right; 
	color:white;
}
.coreBankingEntities{
	border-radius:3px; 
	background-image:url('../img/profileCol2White.png');
	background-repeat:repeat; 
	background-position:left;
}
.coreBankingEntitiesContent{
	border-radius: 3px; 
	height:auto;
	line-height: 18px; 
	background-image:url('../img/profile_red_small.png');
	background-repeat:no-repeat; 
	background-position:right; 
	color:black;

}
.externalRegistryEntities{
	border-radius:6px; 
	background-image:url('../img/profileCol3Blue.png');
	background-repeat:repeat; 
	background-position:left;

}
.externalRegistryEntitiesContent{
	background-size:10px 100%; 
	min-height:40px;
	border-radius: 3px; 
	height:auto;
	line-height: 20px; 
	background-image:url('../img/profileCol3Green.png');
	background-repeat:no-repeat; 
	background-position:right; 
	color:white;
	display: inline-block !important;
}
.tradingEntities{
	border-radius:6px; 
	background-image:url('../img/profileCol3Blue.png');
	background-repeat:repeat; 
	background-position:left;
}
.tradingEntitiesContent{
	background-size:10px 100%; 
	min-height:40px;border-radius: 3px; 
	height:auto;line-height: 20px; 
	background-image:url('../img/profileCol3Red.png');
	background-repeat:no-repeat; 
	background-position:right; 
	color:white;
	display: inline-block !important;
}
.downstreamEntities{
	background-size:1px 100%; 
	border-radius:6px; 
	background-image:url('../img/profileCol3Blue140.png');
	background-repeat:repeat; 
	background-position:left;
}
.downstreamEntitiesContent{
	background-size:10px 100%; 
	min-height:40px;
	border-radius: 6px; 
	height:auto;
	line-height: 20px; 
	background-image:url('img/profileCol3Yellow.png');
	background-repeat:no-repeat; 
	background-position:right; 
	color:white;
	display: inline-block !important;
}
.memberCountPlus{
	display:inline-block;
	min-height:1px;
	max-width:50px;
	line-height: 50px;
	background-image:url('../img/plusResult.png');
	background-repeat:no-repeat;
	background-position:left;
}
.score{
	line-height: 50px; 
	background-image:url('../img/search_number.png');
	background-repeat:no-repeat; 
	background-position:center; 
	color:blue;
}
.openPopupBtn{
	float:center;
	display:inline-block;
	min-height:1px;
	width:100%;
	line-height: 50px;
	background-image:url('../img/arrow.png');
	background-repeat:no-repeat;
	background-position:right;
}
.mainResultContainer{
	border-top:1px solid #cbcbcb;
}